.header__logo {
  width: 142px;
  height: 33px;
  padding: 45px 0 41px;
  display: block;
  object-fit: cover;
}
@media screen and (max-width: 320px) {
  .header__logo {
    height: 24.4px;
    width: 103.74px;
    padding: 28px 0 31px 27px;
  }
}
