.profile__name {
  max-width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;
  margin: 0;
  overflow: hidden;
  grid-row: 1;
  grid-column: 1;
}
@media screen and (max-width: 735px) {
  .profile__name {
    grid-column: 2;
  }
}
@media screen and (max-width: 425px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}
