.element__button-like {
  width: 22px;
  height: 19px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  cursor: pointer;
}

.element__button-like:hover {
  opacity: 0.6;
}
